<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @author.birthday %>
</p>

<p>
  <strong>Country:</strong>
  <%= @author.country %>
</p>

<%= link_to 'Editar', edit_author_path(@author) %> |
<%= link_to 'Regresar', authors_path %>
